<h1>Confirmation de votre commande!</h1>


{# Bonjour, {{ user.prenom}}, #}
Votre commande du {{ commande.dateCommande | date('Y-m-d')}} : 
<p>Total : {{commande.total}} euros</p>
<p>Plats commandés : </p>


{% for detail in details %}
<div>{{detail.plat.libelle}}</div>
{# 
<span>{{detail.plat.libelle}} - Prix : {{detail.plat.prix}} Quantité : {{detail.quantite}}</span> #}


{% endfor %}



<p>

    <br>

    <br>
    
</p>

<p>
   Merci pour votre visite!!
</p>
