<h1>Confirmation de votre commande!</h1>


Bonjour, {{user.prenom}},
<br>
Voici le récapitulatif de votre commande du {{ commande.dateCommande | date('d-m-Y')}} : 

<p>Plats commandés : </p>

{% for detail in details %}

<div class="col-3">

<p>{{detail.quantite}} {{detail.plat.libelle}}
<br>
<br>
<div>
 <img src="{{ email.image('@images/food/' ~ detail.plat.image) }}" alt="Logo" >
</div>
</div>


{% endfor %}
<br>
<p>Total de votre commande: {{commande.total}} euros</p>

<p>

    <br>

    <br>
    
</p>

<p>
   Merci pour votre visite et à bientôt!!
</p>
