{% extends 'base.html.twig' %}

{% block body %}

	<div class='text-center bg-light p-3'>
		<H1>
			Votre panier
		</H1>
	</div>

	{% if items | length > 0 %}
		<table class="container  table">
			<thead>
				<tr>
					<th>Produit</th>
                    <th>Image</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					
                    <th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{ item.plat.libelle}}</td>
                        <td> <img class="" src="{{ '/food/' ~ item.plat.image }}" class=" rounded img-responsive;" height="50px" width="50px"> </td>
						<td>{{ item.plat.prix}}</td>
						<td>{{item.quantite}}</td>
						
                        <td>{{ item.plat.prix * item.quantite}}</td>
                        <td>
							<a href="{{ path('app_ajout_panier', {"id" : item.plat.id }) }}" class=" btn btn-success btn-sm">Ajouter
								<i class="fas fa-trash"></i>
                                </a>

						</td>
                          <td>
							<a href="{{ path('app_remove_plat', {"id" : item.plat.id }) }}" class="btn btn-warning btn-sm">Retirer
								<i class="fas fa-trash"></i>
                                </a>

        <td>
							<a href="{{ path('app_delete_plat', {"id" : item.plat.id }) }}" class="btn btn-danger btn-sm">Supprimer
								<i class="fas fa-trash"></i>
                                </a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot >
				<tr>
					<td colspan="4">Total :</td>
					<td>{{ total }}</td>
					  <td></td>
                      <td></td>
                      <td>
							<a href="{{ path('app_delete_panier') }}" class="btn btn-danger btn-sm">Vider panier
								<i class="fa fa-trash"></i>
                                </a>

						</td>
						<td>
						<a href="#" class="btn btn-success btn-sm">Validation panier
</td>
				</tr>
			</tfoot>
		</table>
		{% else %}
<p class="text-center">
		Surprise, c'est vide!</p>
	{% endif %}

	


{% endblock %}
