{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">Identifiant et/ou mot de passe incorrect!</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

       {% for message in app.flashes('success2') %}
            <div class="alert alert-success " id="alert-div">
                {{ message }}
            </div>
        {% endfor %}
        
<div class="float-right">
<p >Pas encore de compte? C'est <a class="text-success" href="{{path('app_register')}}">par ici!!</a></p>
</div>
    <h1 class="h3 mb-3 font-weight-normal">Veuillez-vous connectez</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <br>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">'


    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
<br>
    <button class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>
</form>
{% endblock %}

{% block javascripts %}
<script>

// const delitemps = () => {
//     $('#alert-div').attr("hidden",true);
//         console.log('je suis dans la function')
// }
// delitemps();
$(document).ready(function() {
    setTimeout(function(){
        //$('#alert-div').remove();
        $('#alert-div').attr("hidden",true);
        // console.log('je suis dans la function')
        }, 2000);
});

// var cpt = 10;
//     timer = setInterval(function(){
//         if(cpt>0) // si on a pas encore atteint la fin
//         {
//             --cpt;
//         }
//         else // Si on atteint la fin du timer
//         {
//             var doc = document.getElementsByClassName('.alert-div');
//             doc.hidden = true;
//             clearInterval(timer);
//         }
//     }, 500);



</script>


{% endblock %}
