{% extends 'base.html.twig' %}

{% block body %}

<div class="bg1">
    <form method="post" action="search.php" class="float-right" role="search">
        <input class="search" name="search" type="search" placeholder="rechercher" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Go!</button>
    </form>
</div>
<br>


<div class="container-fluid">

  {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

    <div class="row">
    {# {{ dump(plats)}} #}

            <!-- <div class="container-fluid"> -->
             
        {% for categorie in categories %}

            <div class="col afftexton col-lg-4 col-md-4 col-sm-6 col-xs-12" >
            <a href="{{path('app_categorie')}}">
                <img class="zoom" src=  {{categorie.image}} class="rounded img-responsive;" height="250px" width="250px"> 
            </a>
                <br>
                <br>
                {{categorie.libelle}}
              
            </div>
        {% endfor %}
     
                
             


    </div>
</div>

<h2>Les plats du moments :</h2>
<br>
<div class="container-fluid">
    <div class="row">
        
        {% for plat in plats %}

            <div class="col afftexton col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                <a href="{{path('app_detail_plat')}}">
                    <img class="zoom" src=  {{plat.image}} class="rounded img-responsive;" height="250px" width="250px"> 
                </a>
                    <br>
                    <br>
                    {{plat.libelle}}
              
            </div>
        {% endfor %}
            <!-- <div class="container-fluid"> -->

            {# <div class="col afftexton col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a class='' href="detail_plat.php?id=<?= $categorie->id ?>">

                    <img src="//food/<?= $categorie->image ?>" class="rounded img-responsive" height="255px" width="255px" ;>
                </a>
                <br>
                <br>
                <div>
                    <p class="reseaux afftext"><strong><?= $categorie->libelle  ?></strong><br>
                </div>
            </div> #}
            <!-- </div> -->

            <!-- <br> -->
            <!-- </div> -->

    </div>
</div>
<br>
<br>

{% endblock %}


