{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted("ROLE_USER") %}
        <div class="mb-3 float-right">
            Connecté en tant que {{ app.user.prenom }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    
<div class="bg1">
    <form method="post" action={{path('app_search')}} class="float-right" role="search">
        <input class="search" name="search" type="search" placeholder="rechercher" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Go!</button>
    </form>
</div>
<br>

 <br><br>
<h2>Les catégories du moments :</h2>
<hr><br>
<div class="container-fluid">

  {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

    <div class="row">
    {# {{ dump(plats)}} #}

            <!-- <div class="container-fluid"> -->
             
        {% for categorie in categories %}

            <div class="col afftexton col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center" >
            <a href="{{path('app_plat_categorie', {"libelle" : categorie.libelle })}}">
                <img class="zoom" src="{{ '/category/' ~ categorie.image }}" class="rounded img-responsive;" height="250px" width="250px"> 
            </a>
                <br>
                <br>
                {{categorie.libelle}}
              <br>
            </div>
        {% endfor %}
     
                
             


    </div>
</div>
<br><br>
<h2>Les plats du moments :</h2>
<hr><br>

<div class="container-fluid">
    <div class="row">
        
        {% for plat in plats %}

            <div class="col afftexton col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center" >
                <a href="{{path('app_detail_plat', {"libelle" : plat.libelle })}}">
                    <img class="zoom" src="{{ '/food/' ~ plat.image }}" class="rounded img-responsive;" height="250px" width="250px"> 
                </a>
                    <br>
                    <br>
                    {{plat.libelle}}
              
            </div>

        {% endfor %}


    </div>
</div>
<br>
<br>
<br>
<br>

{% endblock %}


