{% extends 'base.html.twig' %}

{% block body %}
<div class ="fosy">
<h1 class="titre"><strong>Détails</strong></h1>
</div>
<br>
<br>
{# {% for plat in plats %} #}

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-6">
               <div class="col afftexton col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                <img class="zoom" src="{{ '/food/' ~ plat.image }}" class="rounded img-responsive;" height="250px" width="250px"> 
                <br>
                <br>
                {{plat.libelle}}<br>
                {{plat.description}}<br>
                {{plat.active}}<br>
                {{plat.prix}}<br>
                  <br>
                <br>
                <form action="commande.html.twig" method="post">
                <input type="number" name="quantity" id="quantity" min="1" max="100" size="1">
                <input id="button" name="ajouter" title="Ajouter au panier" class="text-dark a-button-input" type="submit" value="Ajouter au panier">
                </form>
            
            </div><br><br><br>
        {# {% endfor %} #}

                {# <img src="/images_the_district/food/<?= $categorie->image ?>" class="rounded img-responsive ;" height="250px" width="250px"">
            </div>
            <div class="col-sm-6">
                <br>
                <div>
                    <p class="cadre"><strong><?= $categorie->libelle  ?></strong><br>
                    <p class="cadre"><strong><?= $categorie->description ?></strong><br>
                    <p class="cadre"><strong><?= $categorie->active  ?></strong><br>
                    <p class="cadre"><strong><?= $categorie->prix   ?></strong><br><br>
                    <form action="commande.php" method="POST"> 
                    <input type="hidden" name="commande" value="<?= $categorie->id   ?>" />
                    <input type="hidden" name="prix" value="<?=$categorie->prix ?>" />
                    <input type="submit" value="Ajouter au panier" />
                    
                    </form>
                                        
                </div>

            </div> #}
        </div>
    </div>

    <br>

{% endblock %}